body {
  font-family: "Proxima Nova";
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(18, 23, 27);
  color: aliceblue;
}

.desc {
  font-size: 24px;
}

.desc-more {
  display: none;
}

.read-more-btn {
  padding: 15px 60px;
  background-color: rgb(149, 170, 197);
  color: rgb(53, 49, 49);
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.desc.show-more .desc-more {
  display: inline;
}

.desc.show-more .dots {
  display: none;
}
